networks:
  my_custom_microservices_network:   # define your own network
    external: true     # assumes you already created it with `docker network create my_custom_microservices_network`

services:
  dbmicroservice:
    build: C:\Users\evaia\Documents\GitHub\Database_microservice
    container_name: dbmicroservice
    restart: always
    ports:
        - "9009:9009"
        - "5002:5002"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://my_mysql:3306/HouseMateMicroservicesDB?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: housemate_microservices_user
      SPRING_DATASOURCE_PASSWORD: MySrt0ngP@ssw0rd!123
    networks:
      - my_custom_microservices_network
  mysql:
    image: mysql:8.0
    container_name: my_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: MySrt0ngP@ssw0rd!123
      MYSQL_DATABASE: HouseMateMicroservicesDB
      MYSQL_USER: housemate_microservices_user
      MYSQL_PASSWORD: MySrt0ngP@ssw0rd!123
    ports:
      - "3336:3306"   # expose MySQL to host
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - my_custom_microservices_network
  taskmicroservice:
    build: C:\Users\evaia\Documents\GitHub\Task_microservice
    container_name: taskmicroservice
    restart: always
    ports:
      - "9010:9010"
      - "5007:5007"
    networks:
      - my_custom_microservices_network
  apigateway:
    build: C:\Users\evaia\Documents\GitHub\API_Gateway
    container_name: apigateway
    restart: always
    ports:
      - "8099:8099"
      - "5006:5006"
    networks:
      - my_custom_microservices_network
  competitionmicroservice:
    build: C:\Users\evaia\Documents\GitHub\Competition_microservice
    container_name: competitionmicroservice
    restart: always
    ports:
      - "9011:9011"
      - "5008:5008"
    networks:
      - my_custom_microservices_network
  listmicroservice:
    build: C:\Users\evaia\Documents\GitHub\List_microservice
    container_name: listmicroservice
    restart: always
    ports:
      - "9014:9014"
      - "5009:5009"
    networks:
      - my_custom_microservices_network
  usermicroservice:
    build: C:\Users\evaia\Documents\GitHub\User_microservice
    container_name: usermicroservice
    restart: always
    ports:
      - "9015:9015"
      - "5010:5010"
    networks:
      - my_custom_microservices_network
  feedbackmicroservice:
    build: C:\Users\evaia\Documents\GitHub\Feedback_microservice
    container_name: feedbackmicroservice
    restart: always
    ports:
      - "9016:9016"
      - "5011:5011"
    networks:
      - my_custom_microservices_network

volumes:
  mysql_data:
